.pb-num {
    font-size: xxx-large;
    margin: 2rem;
}
.pb-num.active {
    font-weight: 1000;
}
.digitala-progress-bar {
    font-size: xx-large;
    display: flex;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 2.5em;
}
.pb-step {
    flex: 1;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    text-align: center;
}
.pb-step.active {
    background-color: lightgray;
}

.pb-step.active.first {
    border-radius: 10px 0 0 10px;
}

.pb-step.active.last {
    border-radius: 0 10px 10px 0;
}
.pb-spacer {
    width: 100%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.pb-spacer-left > svg {
    display: block;
    margin-left: auto;
}

.pb-spacer-left > svg,
.pb-spacer-right > svg {
    width: auto;
}

.digitala-column {
    margin: 1vh;
}

.digitala-card {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.navbuttons {
    position: absolute;
    left: 45%;
    bottom: 70px;
}

.scrollbox200 {
    height: 200px;
    line-height: 2em;
    overflow: auto;
}

.scrollbox400 {
    height: 408px;
    line-height: 2em;
    overflow: auto;
}

.record {
    background-color: red;
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
}

.stopRecord {
    background-color: green;
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
}

.listenButton {
    background-color: gray;
    border-width: medium;
    border-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    max-height: 15%;
    border-radius: 50%;
    left: 100px;
    right: 100px;
    position: relative;
}
